ul.main-nav
  li 
    a(ui-sref="cv")
      span CV
  li
    a(ui-sref="portfolio")
      span Portfolio
  li 
    a(ui-sref="about")
      span Om mig
  li 
    a(ui-sref="contact")
      span Kontakt