@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Parisienne|Petit+Formal+Script|Lobster|Julius+Sans+One|Love+Ya+Like+A+Sister);
@import "compass/css3/box-sizing";
@import "compass/css3/flexbox";
@import "compass/css3/border-radius";

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

a {
    text-decoration: none;
    color: black;
}

body {
  font-family: 'Open Sans';
  font-size: 1em;
  background-color: #FCF7F8;
}

.container {
  @include display-flex;
  @include flex-flow(column wrap); 
  margin: 0 auto;
  max-width: 1000px;
}

.header {
  padding: 1em 0.5em;
  width: 100%;
  @include display-flex;
  @include flex-flow(row wrap);
  @include justify-content(space-between);
}

h1 {
    font-family: Julius Sans One;
    font-size: 50px;
}

.main-nav {
    list-style: none;
    li {
      display: inline;
      padding-right: 10px;
    }
}

nav {
  height: 500px;
}

.home-nav {  
  margin-top: 10em;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    @include display-flex;
    @include flex-flow(row wrap);
    @include justify-content(space-around);
  }
  
  li {
    transition: all 0.5s ease;
    flex-basis: 220px; 
  }
  
  li:hover {
    flex-basis: 250px;
  }
}

.circle {
  @include border-radius(100%);
  background-color: #c97286;
  text-align: center;
  display: block;
  height: 0;
  width: 100%;
  padding: 50% 0;
}  

.cv {
  color: white;
  background-color: #62313c
}

.portfolio{
  color: white;
  background-color: #9c4f60;
}

.about{
  color: white;
  background-color: #c97286
}

.contact{  
  color: white;
  background-color: #e1b1bc
}


