doctype html
html(ng-app='pellanApp')
  head
    title sofiapellgard.se
    link(rel='stylesheet', href='app/app.css')
    base(href="/")
  body
    .container(ng-controller="MainCtrl as main")
      header.header(role="banner")
        h1 Sofia Pellgård
        div(ng-include="$route.current.controller !== 'HomeCtrl' ? '/app/partials/_nav.html' : null")
      div(ng-view)
     
    script(src='libs/angular/angular.js')
    script(src='libs/angular-route/angular-route.js')
    script(src='libs/angular-sanitize/angular-sanitize.js')
    script(src='libs/angular-animate/angular-animate.js')
    script(src='app/app.js')
    script(src='app/main/main.controller.js')  
    script(src='app/home/home.js')
    script(src='app/home/home.controller.js')
    script(src='app/contact/contact.js')
    script(src='app/contact/contact.controller.js')
    script(src='app/cv/cv.js')
    script(src='app/cv/cv.controller.js')
    script(src='app/portfolio/portfolio.js')
    script(src='app/portfolio/portfolio.controller.js')
    script(src='app/about/about.js')
    script(src='app/about/about.controller.js')