doctype html
html(ng-app='thrawnyApp')
  head
    title thrawny blog
    link(rel='stylesheet', href='app/app.css')
    base(href="/")
  body
    div.container
      div.nav
        ul
          li #[a(href='/') home]
          li #[a(href='/') about]
          li #[a(href='/') links]
      div.content(ng-view='')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='app/app.js')
    script(src='app/home/home.js')
    script(src='app/home/home.controller.js')
    script(src='app/post/post.js')
    script(src='app/post/post.controller.js')