doctype html
html(ng-app='pellanApp')
  head
    title sofiapellgard.se
    link(rel='stylesheet', href='app/app.css')
    link(rel='stylesheet', href='libs/font-awesome/css/font-awesome.min.css')
    base(href="/")
  body(ng-controller="MainCtrl as main")
    header.header(role="banner")
      h1 
        a(ui-sref="index") Sofia Pellgård
      div(ng-include="$state.current.name !== 'index' ? '/app/partials/_nav.html' : null")
      div.intern(ng-if="$state.current.name === 'index'" ui-sref="intern")
         span Just nu söker jag praktik inför våren 2015!
    .container(ui-view)
    footer
      a(href="http://www.facebook.com/sofia.pellgard" target="_blank")
        i.fa.fa-facebook-square
      a(href="http://se.linkedin.com/in/sofiapellgard/" target="_blank")
        i.fa.fa-linkedin-square
      a(href="http://instagram.com/pewz" target="_blank")
        i.fa.fa-instagram
      a(href="http://se.pinterest.com/sofiapellan/" target="_blank")
        i.fa.fa-pinterest-square
      

     
    script(src='libs/angular/angular.js')
    script(src='libs/ui-router/release/angular-ui-router.js')
    script(src='libs/angular-sanitize/angular-sanitize.js')
    script(src='libs/angular-animate/angular-animate.js')

    script(src='app/app.js')
    script(src='app/main/main.controller.js')  
    script(src='app/home/home.js')
    script(src='app/home/home.controller.js')
    script(src='app/contact/contact.js')
    script(src='app/contact/contact.controller.js')
    script(src='app/cv/cv.js')
    script(src='app/cv/cv.controller.js')
    script(src='app/portfolio/portfolio.js')
    script(src='app/portfolio/portfolio.controller.js')
    script(src='app/about/about.js')
    script(src='app/about/about.controller.js')
    script(src='app/intern/intern.js')
    script(src='app/intern/intern.controller.js')
