h2 Portfolio

p Jag jobbar till största del med text i olika former. Utöver det har jag ett intresse för grafisk formgivning och symbiosen mellan onlineannonsering och landningssidors design + content.

h3 Journalistiska texter
p Läs mina texter för Rockfoto på denna #[a(href="http://rockfoto.nu/about/sofia-pellgard" target="_blank") länk].

h3 Annonser och säljande texter 
p Under min tid på byrån Be Better Online jobbade jag i princip enbart med AdWords-annonsering och större kampanjer. AdWords texter är korta, måste följa ett visst regelverk och har ofta mycket call-to-action. I en större kampanj finns hundratals texter vilket gör att både skicklighet gällande stavning och innehåll krävs.

h3 Pressmeddelanden 
p Jag har skrivit en rad PR-utskick när jag jobbat och praktiserat inom musikbranschen. Jag läser flertalet meddelanden per dag och känner till vedertagna upplägg och strukturer.

h3 Informativa texter
p På Högskolan Västs olika webbplatser skriver jag informativa texter, främst ämnade för studenter och personal. 

h3 Blogginlägg
p Jag har bloggat frekvent sedan 2008 på min #[a(href="http://pellan.se" target="_blank") vardagsblogg] som handlar om mitt liv och musiken jag gillar. Tack vare min blogg reflekterar jag ständigt över nya idéer på inlägg och texter som jag vill skriva och hur jag kan curera material från andra. Detta ser jag som en grym egenskap när det kommer till ett framtida arbete inriktat till sociala medier och andra digitala kanaler.
p 
h2 Verktyg
ul
  li WordPress, Blogger, Dynamaster, Drupal & EpiServer.
  li Google Apps, Google AdWords, Google Analytics, AdWords Editor.
  li MS Office, Pages, Keynote, iMovie.
  li Photoshop, Adobe Forms & Acrobat, Adobe Premier.
  li HTML, CSS.
  li Cubase, Visma Bokföring.

