h2.top Praktikplats sökes! 
p I vår kommer jag att ha min sista praktikperiod (LIA) på den YH-utbildning jag läser. Har ditt företag behov av en skarp praktikant inom webbkommunikation så tveka inte att höra av er! Ett stort plus är om kontoret ligger i Göteborg.
p 
  strong Kort om LIA-perioden 
ul
  li 11 veckor ren praktik + 5 veckor exarbete 
  li Datum: 23/2 - 12/6 2015
  li Önskat ämnesområde: onlineannonsering, varumärkesutveckling, PR eller content.