.about-container

  h2.top Om mig

  h3 Vem är Sofia?
  img(src="/pics/sofia2.JPG")
  p Mitt hjärta klappar för webben och jag har väldigt lätt för att lära mig nya saker snabbt - det enda som behövs är en kopp kaffe eller två.

  p Jag har en kvalificerad YH-examen inriktning #[a(href="http://www.nbi.se/CM.php?PageID=211289" target="_blank") Webbkommunikatör] (2 år) från NBI i Göteborg. Utbildningen startade hösten 2013 och jag var således en del av den första årskullen. Jag såg utbildningen som ett passande steg för mig att ta för utöka min portfölj av praktiska kunskaper och verktyg. Detta då jag tidigare har en fil.kand i företagsekonomi med inriktning på marknadsföring och musikbransch.

  p Mitt intresse för marknadsföring – framför allt med fokus på text – har fallit rätt så naturligt för mig. Jag analyserar reklamtexter vart jag än är – på spårvagnen, i dagstidningen, på sociala medier eller gömda i bloggar. Under min uppväxt har jag alltid brunnit för att skriva och mitt oåterkalleliga beroende av musik har lett till att jag för två år sedan började skriva för nätmagasinet HYMN. Där bidrar jag med skiv- och konsertrecensioner, intervjuer och artiklar.

  h3 Min vision
  p Jag ämnar att ha en kreativ roll där jag både kan utforma annonser och informativa webbtexter. Helst vill jag jobba med symbiosen mellan landningssidornas content och design - och annonserna som pekar dit. SEO och SEM är delar som jag har ett extra stort tycke för.

  h2
    i.fa.fa-plus
  p Oscar Wilde, fredagar, art nouveau, Chet Baker, Joy Division, röda pandor, Paris och katter.

  h2
    i.fa.fa-minus
  p Ormar, ljudet av galgar som slår i varandra, ketchup och folk som går på spårvagnen innan folk har hunnit gått av.
