div.about-container

  h2 Om mig


  h3 Vem är Sofia?
  img(src="/pics/sofia.JPG")
  p Jag är idérik, kreativ och en riktig administratör både hemma, i skolan och på jobbet. 
  p Just nu läser jag mitt sista år på YH-utbildningen #[a(href="http://www.nbi.se/CM.php?PageID=211289" target="_blank") Webbkommunikatör] på NBI i Göteborg. Utbildningen startade hösten 2013 och jag är således en del av den första årskullen som kommer att examineras sommaren 2015. Jag såg utbildningen som ett passande steg för mig att ta för utöka min portfölj av kunskaper och verktyg. Detta mest för att jag tidigare läst en fil.kand i företagsekonomi med inriktning på marknadsföring och musikbransch som för mig inte hade en tillräckligt praktisk inriktning. 
  p Mitt intresse för marknadsföring – framför allt med fokus på text – har fallit rätt så naturligt för mig. Under min uppväxt har jag alltid brunnit för att skriva dikter, noveller och andra typer av texter. Jag analyserar reklamtexter vart jag än är – på spårvagnen, i dagstidningen, i sociala medier eller gömda i bloggar och bra kampanjer gör mig mäkta imponerad och upprymd.
  p Mitt oåterkalleliga beroende av musik har lett till att börja skriva för nätmagasinet Rockfoto som idag är nordens största bildbyrå för konsertfoton. Där skriver jag både skivrecensioner, konsertrecensioner och artiklar.

  h3 Min vision
  p Jag ämnar att ha en kreativ roll där jag både kan utforma annonser och informativa webbtexter. Helst vill jag jobba med symbiosen mellan landningssidornas content/design och annonserna som pekar dit.  

  h2
    i.fa.fa-plus
  p Oscar Wilde, art nouveau, pyssla, kaffe, fredagar, Chet Baker, Joy Division, slitna plåtburkar, röda pandor, Paris och katter. 

   
  h2
    i.fa.fa-minus
  p Ormar, ljudet av galgar som slår i varandra, ketchup och folk som går på spårvagnen innan folk har hunnit gått av. 
