nav.home-nav(role="navigation")
  ul
    li
      a(href="/#/about")
        .circle.about Om mig
    li
      a(href="/#/cv")
        .circle.cv CV
    li
      a(href="/#/portfolio")
        .circle.portfolio Portfolio & Verktygslåda
    li 
      a(href="/#/contact")
        .circle.contact Kontakt  

