//- h2.tagline En skicklig penna inom webbkommunikation och onlinemarknadsföring
nav.home-nav(role="navigation")
  ul
    li
      a(ui-sref="cv")
        .circle.cv CV
    li
      a(ui-sref="portfolio")
        .circle.portfolio Portfolio
    li
      a(ui-sref="about")
        .circle.about Om mig
    li 
      a(ui-sref="contact")
        .circle.contact Kontakt  

